<header>
	<nav>
		<ul>
			<li>About</li>
			<li>Resume</li>
			<li>Social</li>
		</ul>
	</nav>
	<h1>Matthew Pleasant</h1>
</header>

<main>
	<p>My name is Matthew. I'm a writer and digital producer. Right now I'm learning how to build things for the web, so this site is sort of a sandbox. <%= link_to "View my work" %>.</p>
</main>

<footer>
	<nav>
		<ul>
			<li>LinkedIn</li>
			<li>Twitter</li>
			<li>Instagram</li>
		</ul>
	</nav>
</footer>